@media (max-width: 926px) {
    .active{
       flex-direction: column;
       background-color: #171717;
       align-items:center;
       justify-content: center;
       padding-left: 50px;
       padding-right: 30px;
       height: 100vh;
       width: 100%;
       z-index: 9;
       position: fixed;
       overflow: hidden;
    }
    nav{
        height: 90px;
        width: 100%;
        z-index: 9;
        position: fixed;
    }
    .menu{
        display: block;
    }
    nav>div:nth-child(2)>ul{
        flex-direction: column;
        width: 100%;
    }
    nav>div:nth-child(1){
        padding: 0px;
    }
    
    .active>div:nth-child(2)>ul>li>a{
       font-size: 1.3rem;
       padding-left: 10px;
    }
    .active>div:nth-child(2)>ul>li{
       padding: 30px 0px;
    }
    nav>div:nth-child(1){
        position: absolute;
        top: 4px;
        left: 10px;
        padding: 20px;
        display: block;
    }
    .menu{
        display: block;
        color: azure;
        position: absolute;
        top: 18px;
        padding: 10px;
        background-color: #0fdacf;
        right: 3%;
    }
    .menu>i{
        font-size: larger;
    }
    nav>div:nth-child(2){
        display: none;
    }
    .active>div:nth-child(2){
        display: block;
    }
    
}
@media (max-width:846px) {
    header{
        margin-top: 20%;
    }
    header>div:nth-child(1)>p:nth-child(1){
        font-size: 1.5rem;   
        flex-direction: row; 
    }
    .sp{
        font-size: 1.5rem;
        display: flex; 
        justify-content: center;  
    }
}
@media (max-width:675px) {
    header{
        flex-direction: column-reverse;
        align-items: center;
    }
    header>div:nth-child(1){
        height: max-content;
        padding-bottom: 50px;
    }
}
@media (max-width:677px) {
   #competance>div{
    flex-direction: column;
    align-items: center;
   }
   #competance>div>div:nth-child(1){
    width: 90%;
   }
   #competance>div>div:nth-child(2){
    width: 90%;
    margin-top: 20px;
   }
}
@media (max-width:1005px) {
    form{
        width: 80%;
    }
    #apropos>div>div:nth-child(1){
        padding: 5%;
    }
    #apropos>div{
        
    }
    
    #competance>div>div:nth-child(2)>div{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (max-width:668px) {
    .nomprenom>div>input{
        width: 100%;
        height: 30px;
        border-radius: 6px;
        border: #0fdacf 1px solid;
    }
}
@media (max-width:545px) {
    footer>div{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #projet>div>div{
        margin-left: 0px;
    }
}
@media (max-width:900px) {
    
    #projet>div>div{
        margin-left: 0px;
     
    }
    #projet>div{
        gap: 20px 50px;
    }
    #apropos>div{
        display: flex;
        gap: 0px;
        justify-content: space-around;
    }

}
@media (max-width:455px) {
    header{
        padding: 12%;
    }
    #projet{
        padding: 10%;
    }
    #projet>div>div>p>span{
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items:none;
       
    }
    #projet>div>div>p>span:nth-child(1){
        display: flex;
        text-align: center;
    }
    #contact>p{
        text-align: center;
        padding: 30px;
    }
    header>div:nth-child(1)>p:nth-child(1){
        text-align: center;   
    }
    footer>div{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-left: 0px;
        font-size: 0.775rem;
        margin-right: 0px;
    }
    footer>div>div{
        text-align: center;
    }
}